.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-sub-card-container {
    display: flex;
    border: none; /* Adjust the gap between sub-cards as needed */
  }
  
  .home-sub-card {
    flex: 1;
    border: none; /* Makes each sub-card take an equal amount of space */
  }
  .content-container {
    display: flex;
    width: 100%;
  }
  a{
    text-decoration: none;
  }
  
  .main-section {
    width: 80%;
    padding: 20px;
  }
  
  .side-section {
    width: 20%;
    padding: 20px;
    background-color: #f0f0f0; /* optional: for visual distinction */
  }
  .card-menu{
    background-color: #f0f0f0;
    border: none;
  }
  .card-menu-li{
background-color: #f0f0f0;
  }
  
  .header, .main-content, .footer {
    text-align: center;
  }
  
  .footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
  }

 
.table-container {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents table from wrapping */
}

.tabulator {
  width: 100%; /* Ensures the table takes the full width of the container */
  border-collapse: collapse; /* Ensures that borders do not add extra space */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  table-layout: fixed; /* Ensures the columns do not auto-resize */
}

/* Set the maximum width for the taskTitle column */
.tabulator .tabulator-cell {
            /* Set the cell width */
  max-width: 500px;      /* Ensure the width does not exceed 200px */
  min-width: 100px;      /* Ensure the width does not go below 200px */
  overflow-wrap: break-word;  /* Wrap words when they are too long */
  white-space: normal;        /* Allow text to wrap to the next line */
  word-break: break-word;  
  border: none;   /* Break words to prevent overflow */
}

.word-wrap {
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

/* src/App.css */
.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  border: none;
  background-color: transparent;
}

.tabulator-row .tabulator-cell {
  border: none;
  background-color: transparent;
}

.tabulator-row .tabulator-row-even {
  border: none;
  background-color: transparent;
  background: none;
}

/* src/JiraForm.css */

.form-container {
  max-width: 600px;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.form-container input[type="text"],
.form-container textarea,
.form-container select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.submitted-data {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.submitted-data h3 {
  margin-bottom: 10px;
  color: #333;
}

.submitted-data p {
  margin: 5px 0;
  color: #555;
}


/* src/ModalStyles.css */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.modal-close-button:hover {
  background-color: #0056b3;
}
